
glyphicon.myclass {
    font-size: 2.4em;
}

body {
    overflow-x: hidden;
  
    font-family: 'Raleway', sans-serif;
    background-color: #555;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #00A4E4;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #e6e6e6;
  border-radius: 4px;
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 100;
}

p.large {
    font-size: 16px;
}

a {
    color: #ffffff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #71DEE8; 
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}


/* Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0));
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.navbar-default {
    border-color: transparent;
    background-color: #555;
}

.navbar-default .navbar-brand {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #000000;
    outline: none;
}

.navbar-default .navbar-collapse {
    border-color: #555;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; /* hamburger lines */
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0.5); /* hamburger hover */
    outline: none;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: none;
    color: #00A4E4;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #333333;
    outline: none;
}

.secondnavbar
 {
     top: 40px;
 }
 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.foo {
display: none !important;
}
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    
}

header {
    text-align: center;
    color: rgba(0,0,0,0.5);
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.foo {
    text-align: center;
    color: rgba(0,0,0,0.5);
    background-attachment: scroll;
    background-image: url(../img/header-bg-1.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;weight
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.intro-lead-in-StoreCardNo {
    margin-bottom: 5px;
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-size: 18px !important;
    font-style: normal;
    line-height: 22px;
}

.intro-lead-in-currentbalance {
    margin-bottom: 5px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px !important;
    font-style: normal;
    line-height: 22px;
}

.intro-lead-in-cashback {
    margin-bottom: 5px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px !important;
    font-style: normal;
    line-height: 22px;
}

.dolladollabillyo {
	font-weight: 700;
	margin-top: 10px;
	font-size: 44px !important;
}

.storecardvalue {
	font-weight: 400;
	margin-top: 10px;
	font-size: 18px !important;
}

@media(min-width:768px) {

    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
}

section h3.section-subheading {
	margin-top: 0;
    margin-bottom: 5px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

@media(min-width:767px) {

}
 
@media(min-width:992px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

@media(min-width:1200px) {

}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #555;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

::-moz-selection {
    text-shadow: none;
    background: #00A4E4;
}

::selection {
    text-shadow: none;
    background: #00A4E4;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #00A4E4;
}

.input-recaptcha{
 width:172px;   
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control {
  display: block;
  text-align: center;
  width: 100%;
  padding: 6px 6px;
  font-size: 18px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-bottom: 1px groove rgba(0,0,0,0.15);
  border-top:0 !important;
  border-right:0 !important;;
  border-left:0 !important;;
  border-radius: 0 !important;;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;

}
.form-control:focus {
	border: 0;
	padding: 0;
	border-bottom: 1px dashed rgba(68,116,158,0.90);
	outline: none;
}
.form-control::-moz-placeholder {
  font-size: 18px;
  color: #555;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
   font-size: 18px;
   color: #555;

}
.form-control::-webkit-input-placeholder {
   font-size: 18px;
   color: #555;

}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}

.btn-link-dropdown {
  display: block;
  text-align: center;
  width: 100% !important;
  padding: 6px 14px;
  font-size: 18px;
  color: #000;
  font-weight: 100;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-top:0 !important;
  border-right:0 !important;;
  border-left:0 !important;;
  border-radius: 0 !important;;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}
.btn-link-dropdown {
	border: 0;
	padding: 0;
	outline: none;
}
.btn-link-dropdown::-moz-placeholder {
  font-size: 18px;
  color: #555;
  opacity: 1;
}
.btn-link-dropdown:-ms-input-placeholder {
   font-size: 18px;
   color: #555;

}
.btn-link-dropdown::-webkit-input-placeholder {
   font-size: 18px;
   color: #555;

}
.btn-link-dropdown[disabled],
.btn-link-dropdown[readonly],
fieldset[disabled] .btn-link-dropdown {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.btn-link-dropdown {
  height: auto;
}

button-round {

    color: white;
    background-color: transparent;
    border: 3px dashed #fec503;
    font-size: 28px;
    padding: 12px;  
}


.btn {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 12px 12px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: none;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
outline: none;
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;

}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-pre {
  color: #555;
  background-color: #fec503;
  border-color: transparent;
  width: 230px;;

}

.btn-pre:hover,
.btn-pre:focus,
.btn-pre:active,
.btn-pre.active,
.open .dropdown-toggle.btn-pre {
    border-color: transparent;
    color: #fff;
    background-color: #dfab00;
    text-align: center;
    outline: none;
}

.btn-pre:active,
.btn-pre.active,
.open .dropdown-toggle.btn-pre {
    background-image: none;
}

.btn-pre.disabled,
.btn-pre[disabled],
fieldset[disabled] .btn-pre,
.btn-pre.disabled:hover,
.btn-pre[disabled]:hover,
fieldset[disabled] .btn-pre:hover,
.btn-pre.disabled:focus,
.btn-pre[disabled]:focus,
fieldset[disabled] .btn-pre:focus,
.btn-pre.disabled:active,
.btn-pre[disabled]:active,
fieldset[disabled] .btn-pre:active,
.btn-pre.disabled.active,
.btn-pre[disabled].active,
fieldset[disabled] .btn-pre.active {
    border-color: #00A4E4;
    background-color: #00A4E4;
    outline: none;
}

.btn-pre .badge {
    color: #00A4E4;
    background-color: #fff;
}


.btn-primary {
    border-color: #00A4E4;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #00A4E4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
    width: auto;
    text-align: center;
    outline: none;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #00A4E4;
    background-color: #00A4E4;
    outline: none;
}

.btn-primary .badge {
    color: #00A4E4;
    background-color: #fff;
}

.btn-info {
  color: #333333;
  background-color: transparent;
  border-color: rgba(68,116,158,0.50);
  width: 50%;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: rgba(68,116,158,0.50);
  border-color: transparent;
  outline: none;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
  outline: none;
}

.btn-success {
  color: #333333;
  background-color: transparent;
  border-color: rgba(0,128,0,0.50);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: rgba(0,128,0,0.50);
  border-color: transparent;
  outline: none;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
  outline: none;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-register {
  color: #333333;
  background-color: transparent;
  border-color: rgba(68,116,158,0.50);
}
.btn-register:hover,
.btn-register:focus,
.btn-register.focus,
.btn-register:active,
.btn-register.active,
.open > .dropdown-toggle.btn-register {
  color: #fff;
  background-color: rgba(68,116,158,0.50);
  border-color: transparent;
  outline: none;
}
.btn-register:active,
.btn-register.active,
.open > .dropdown-toggle.btn-register {
  background-image: none;
}
.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled.focus,
.btn-register[disabled].focus,
fieldset[disabled] .btn-register.focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
  outline: none;
}
.btn-register .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #00A4E4;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #00A4E4;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #4b5759;
    color: #fff;
    background-color: #4b5759;
    outline: none;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #00A4E4;
    background-color: #00A4E4;
    outline: none;
}

.btn-xl .badge {
    color: #00A4E4;
    background-color: #fff;
}

.btn-link {
  color: #000000;
  background-color: #fec503;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  text-decoration: none;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus,
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #fff;
  background-color: #555;
  border-color: transparent;
  text-decoration: none;
  outline: none;
}

.btn-footer {
  color: #fff;
  background-color: none;
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus,
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #fff;
  background-color: #555;
  border-color: transparent;
  text-decoration: none;
  outline: none;
}


.btn-default {
  color: #333;
  background-color: #71DEE8;
  border-color: transparent;
  width: 225px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #dfab00;
  border-color: transparent;
  outline: none;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-modal-footer {
  color: #333;
  background-color: #fec503;
  border-color: transparent;
  width: auto;
}
.btn-modal-footer:hover,
.btn-modal-footer:focus,
.btn-modal-footer.focus,
.btn-modal-footer:active,
.btn-modal-footer.active,
.open > .dropdown-toggle.btn-modal-footer {
  color: #333;
  background-color: #dfab00;
  border-color: transparent;
  outline: none;
}
.btn-modal-footer:active,
.btn-modal-footer.active,
.open > .dropdown-toggle.btn-modal-footer {
  background-image: none;
}
.btn-modal-footer.disabled,
.btn-modal-footer[disabled],
fieldset[disabled] .btn-modal-footer,
.btn-modal-footer.disabled:hover,
.btn-modal-footer[disabled]:hover,
fieldset[disabled] .btn-modal-footer:hover,
.btn-modal-footer.disabled:focus,
.btn-modal-footer[disabled]:focus,
fieldset[disabled] .btn-modal-footer:focus,
.btn-modal-footer.disabled.focus,
.btn-modal-footer[disabled].focus,
fieldset[disabled] .btn-modal-footer.focus,
.btn-modal-footer.disabled:active,
.btn-modal-footer[disabled]:active,
fieldset[disabled] .btn-modal-footer:active,
.btn-modal-footer.disabled.active,
.btn-modal-footer[disabled].active,
fieldset[disabled] .btn-modal-footer.active {
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}
.btn-modal-footer .badge {
  color: #fff;
  background-color: #333;
}

.btn-modal-small {
  width: 100px;
  height: 50px;
  display: inline-block;
  padding: 12px 12px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.btn-modal-small:hover,
.btn-modal-small:focus,
.btn-modal-small.focus,
.btn-modal-small:active,
.btn-modal-small.active,
.open > .dropdown-toggle.btn-modal-small {
  color: #333;
  background-color: #FAF354;
  border-color: transparent;
  outline: none;
}
.btn-modal-small:active,
.btn-modal-small.active,
.open > .dropdown-toggle.btn-modal-small {
  background-image: none;
}
.btn-modal-small.disabled,
.btn-modal-small[disabled],
fieldset[disabled] .btn-modal-small,
.btn-modal-small.disabled:hover,
.btn-modal-small[disabled]:hover,
fieldset[disabled] .btn-modal-small:hover,
.btn-modal-small.disabled:focus,
.btn-modal-small[disabled]:focus,
fieldset[disabled] .btn-modal-small:focus,
.btn-modal-small.disabled.focus,
.btn-modal-small[disabled].focus,
fieldset[disabled] .btn-modal-small.focus,
.btn-modal-small.disabled:active,
.btn-modal-small[disabled]:active,
fieldset[disabled] .btn-modal-small:active,
.btn-modal-small.disabled.active,
.btn-modal-small[disabled].active,
fieldset[disabled] .btn-modal-small.active {
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}
.btn-modal-small .badge {
  color: #fff;
  background-color: #333;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  background-color: #555;
  min-height: 16.42857143px;
  padding: 15px;

}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
color: white;
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
  background-color: #81A18A;
}
.modal-footer {
  background-color: #81A18A;
  padding: 15px;
  text-align: right;
  border-top: none;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.close {
  float: right;
  font-size: 24px;
  font-weight: 100;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .3;
}
.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .7;
}

.well {
  padding: 15px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  width: 100%;

}

.well-dashboard {
  padding: 15px;
  background-color: rgba(84,84,84,0.5);
  border-color: transparent;
  border-radius: 0;
  width: 100%;

}

.panel {
  color: #000000;
  margin-bottom: 20px;
  border-radius: 0px !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
  border-bottom: 1px solid #555;
}
.panel-heading {
  background-color: transparent !important;
  padding: 10px 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #555;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #555;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}

.panel-default {
  border-color: transparent;
  background-color: transparent;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;

}

