@{
    ViewBag.Title = "Home Page";
}

@*
    
*@

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <div>
                    <div class="intro-heading"></div>
                </div>
            </div>
        </div>
    </div>
</header>

  <!-- Page Content -->
<div class="container">

    <div class="row">
        <hr />


        <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../Content/img/acme.png" alt="" />
                    <div class="caption">
                        <h4 class="pull-right">$TBD</h4>
                        <h4>
                            <a href="#">Acme Windows & Doors</a>
                        </h4>
                        <p>Get an estimate AND if you agree to pay now you’ll get 10% off the estimate.</p>
                        <input type="button" class="btn btn-buy pull-right" onclick="location.href='/Home/Buy';" value="Get Quote Now" />
                        
                    </div>
                    <hr />
                    <div class="ratings">
                        <p class="pull-right">6 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../Content/img/henry.png" alt="" />
                    <div class="caption">
                        <h4 class="pull-right">$64.99</h4>
                        <h4>
                            <a href="#">Handyman Henry</a>
                        </h4>
                        <p>No job too small. Henry will clean up your unfinished honey dos.</p>
                        <input type="button" class="btn btn-buy pull-right" onclick="location.href='/Home/Buy';" value="Get Quote Now" />                        
                    </div>
                    <hr />
                    <div class="ratings">
                        <p class="pull-right">12 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../Content/img/two.png" alt="" />
                    <div class="caption">
                        <h4 class="pull-right">$74.99</h4>
                        <h4>
                            <a href="#">Basement Flooded</a>
                        </h4>
                        <p>Kindly click the button and you can pay for that pipe that needed fixin' by Two Brothers</p>
                        <input type="button" class="btn btn-buy pull-right" onclick="location.href='/Home/Buy';" value="Ready To Pay" />
                    </div>
                    <hr />
                    <div class="ratings">
                        <p class="pull-right">31 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>

            

            

        </div>

    </div>

</div>