@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">TEST Merchant</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy Stuff</h2>
        <p>
            This is a great opportunity to checkout the Mercury HostedCheckout solution.
        </p>
        <p><a class="btn btn-default" href="/Buy">Buy</a></p>
    </div>
</div>