@{
    ViewBag.Title = "Home Page";
}

@*

*@

<!-- Header -->
@*<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    <div>
                        <div class="intro-heading"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>*@

<!-- Page Content -->
<div class="container">

    <div class="row">
        <hr />

        <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="well">
                    @*<img src="" alt="" />*@
                    <div class="row">

                        <h4>
                            Reserve Your Tee Time Online
                        </h4>

                        <p>Reserving your tee time online is easy and fast.</p>

                        <div class="row col-lg-12">

                            <select class="form-control">
                                <option>Select A Date</option>
                                <option>Today</option>
                                <option>Tomorrow</option>
                                <option>This Saturday</option>
                                <option>Tuesday</option>
                            </select>

                            <select class="form-control">
                                <option>Select A Time</option>
                                <option>Early</option>
                                <option>Late</option>
                                <option>Doesn't Matter</option>
                            </select>
                            <br />
                        </div>

                        <div class="row col-lg-12">
                            <div class="btn-group pull-right">
                                <button type="button" data-toggle="dropdown" class="btn btn-buy dropdown-toggle">Book <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ahref="#"><input type="button" style="width: 100%;" onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                    <li><a ahref="#"><input type="button" style="width: 100%;"onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="well">
                    @*<img src="" alt="" />*@
                    <div class="row">

                        <h4>
                            Reserve Your Tee Time Online
                        </h4>

                        <p>Reserving your tee time online is easy and fast.</p>

                        <div class="row col-lg-12">

                            <select class="form-control">
                                <option>Select A Date</option>
                                <option>Today</option>
                                <option>Tomorrow</option>
                                <option>This Saturday</option>
                                <option>Tuesday</option>
                            </select>

                            <select class="form-control">
                                <option>Select A Time</option>
                                <option>Early</option>
                                <option>Late</option>
                                <option>Doesn't Matter</option>
                            </select>
                            <br />
                        </div>

                        <div class="row col-lg-12">
                            <div class="btn-group pull-right">
                                <button type="button" data-toggle="dropdown" class="btn btn-buy dropdown-toggle">Book <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ahref="#"><input type="button" style="width: 100%;" onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                    <li><a ahref="#"><input type="button" style="width: 100%;" onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="well">
                    @*<img src="" alt="" />*@
                    <div class="row">

                        <h4>
                            Get Some Balls
                        </h4>

                        <p>Get ready for the ultimate in ball service.</p>

                        <div class="row col-lg-12">

                            <select class="form-control">
                                <option>Select A Driving Range Box</option>
                                <option>Arnold Palmer</option>
                                <option>Tiger Woods</option>
                                <option>The Shark</option>
                            </select>

                            <select class="form-control">
                                <option>Select A Time</option>
                                <option>Early</option>
                                <option>Late</option>
                                <option>Doesn't Matter</option>
                            </select>

                            <select class="form-control">
                                <option>Select Balls</option>
                                <option>Small Basket</option>
                                <option>Medium Basket</option>
                                <option>Large Basket</option>
                            </select>

                            <br />
                        </div>

                        @*<div class="row col-lg-12">
                            <div class="btn-group pull-right">
                                <button type="button" data-toggle="dropdown" class="btn btn-buy dropdown-toggle">Book <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ahref="#"><input type="button" style="width: 100%;" onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                    <li><a ahref="#"><input type="button" style="width: 100%;" onclick="location.href='/Home/Buy';" value="Book" /></a></li>
                                </ul>
                            </div>
                        </div>*@

                        <div class="row col-lg-12">
                            <div class="pull-right">
                                <input type="button" class="btn btn-buy" onclick="location.href='/Home/Buy';" value="Book" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

